<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stock Trading Client</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="/stylesheets/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- JQUERY SURPERVIZED-->
    <link href="/stylesheets/supersized.css" rel="stylesheet">
    <!--for 弹出框提示-->
    <link rel="stylesheet" href="/stylesheets/message.css">

    <!-- JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/javascripts/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/javascripts/custom.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/supersized-init.js"></script>
    <script type="text/javascript" src="/javascripts/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="/javascripts/stringCheck.js"></script>
    <!--MESSAGE SCRIPTS-->
    <script src="/javascripts/message.js"></script>

</head>
<body>

<div class="container">
    <div class="row text-center ">
        <div class="col-md-12">
            <br/><br/>
            <h2 style="color: white;"> 股票交易客户端：更改密码</h2>

            <h5 style="color: white;">(更改你的密码以登录)</h5>
            <br/>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> 输入详细信息以更改密码</strong>
                </div>
                <div class="panel-body">
                    <form role="form" id="changeForm">
                        <br/>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input id="id_userName" name="f_username" type="text" class="form-control"
                                   onblur="checkUserName()" placeholder="请输入您的用户ID "/>
                        </div>
                        <div class="form-group" id="notation1"
                             style="display: none; color: red; font-size: 10px">用户ID不能为空</div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="id_password" name="f_password" type="password" class="form-control"
                                   onblur="checkOldPassword()" placeholder="请输入您本来的密码"/>
                        </div>
                        <div class="form-group" id="notation2"
                             style="display: none; color: red; font-size: 10px">密码不能为空</div>
                        <div class="form-group" id="notation4"
                             style="display: none; color: red; font-size: 10px">密码应该为6-20的字母、数字和下划线</div>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="pas1" name="f_Npassword1" type="password" class="form-control"
                                   onblur="checkNewPassword()" placeholder="请输入您的新密码"/>
                        </div>
                        <div class="form-group" id="notation5"
                             style="display: none; color: red; font-size: 10px">密码应该为6-20的字母、数字和下划线</div>
                        <div class="form-group" id="notation3"
                             style="display: none; color: red; font-size: 10px">密码不能为空</div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="pas2" name="f_Npassword2" type="password" class="form-control"
                                   onblur="checkSame()" placeholder="再次确认您的新密码"/>
                        </div>
                        <div class="form-group" id="notationPassword"
                             style="display: none; color: red; font-size: 10px">新旧密码须一致</div>

                        <!--<div class="form-group">-->
                            <!--<label class="checkbox-inline">-->
                                <!--<input type="checkbox"/> Remember me-->
                            <!--</label>-->
                            <!--<span class="pull-right">-->
                                                   <!--<a href="#">Change password ? </a>-->
                                            <!--</span>-->
                        <!--</div>-->

                        <a class="btn btn-primary " id="changeBtn" >更改密码</a>
                        <hr/>
                        <a href="login">返回</a>
                        <script>
                            function checkSame() {
                                var pas1 = $("#pas1").val();
                                var pas2 = $("#pas2").val();
                                var notation = $("#notationPassword");
                                return checkPasswordSame(pas1, pas2, notation);
                            }

                            function checkUserName() {
                                var s = $("#id_userName").val();
                                var notation = $("#notation1");
                                return isEmpty(s, notation);
                            }
                            function checkOldPassword() {
                                var s = $("#id_password").val();
                                var notation = $("#notation2");
                                var notation2 = $("#notation4");
                                return isEmpty(s, notation)&&isPassword(s,notation2);
                            }
                            function checkNewPassword() {
                                var s = $("#pas1").val();
                                var notation = $("#notation3");
                                var notation2 = $("#notation5");
                                return isEmpty(s, notation)&&isPassword(s,notation2);
                            }

                            function validate() {
                                return (checkSame() && checkUserName() && checkOldPassword() && checkNewPassword());
                            }
                        </script>
                    </form>
                </div>

                <script>
                    $("#changeBtn").click(function () {
                        if(validate()) {
                            var urlRedirect = false;
                            $.ajax(
                                {
                                    url: '/login/changePassword/change',
                                    type: 'POST',
                                    data: $("#changeForm").serialize(),

                                    success: function (data) {
                                        if (data.success) {
                                            urlRedirect = true;
                                            $.message('修改密码成功');
                                            if (urlRedirect) {
                                                setTimeout(function () {
                                                    $(window).attr('location', 'http://localhost:3000/login');
                                                }, 500);
                                            }
                                        } else {
                                            $.message({
                                                message: '账号或密码错误',
                                                type: 'error'
                                            })
                                        }
                                    }
                                }
                            )
                        }

                    })
                </script>
            </div>
        </div>


    </div>

</div>
<div id="supersized"></div>
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->

</body>
</html>
