<!DOCTYPE html>
<!-- 编程者：孙克染 -->
<!-- 本页面为整个股票交易系统的介绍页，兼作首页 -->
<!-- refered from http://keplr.io/ -->
<html class="sr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>GIS股票交易系统-首页</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/firstPage_style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
        <meta name="google-site-verification" content="38097OVldSfyPvie68boTmJ7GWeh-Bu9hfg1yLFVpKg">
    </head>
    <body class="container" style="height: 100%;">
        <!--第一部分-->
        <div class="head-section">
            <div class="head-content">
                <div class="head-main">
                    <div class="head-logo">
                        浙江大学 地球科学学院 地理信息科学
                    </div>
                    <div class="header-text" data-sr-id="12" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        <span class="text-main">
                            GIS股票交易系统
                        </span>
                        <span class="text-tag">
                            快捷 高效 稳定 安全
                        </span>
                    </div>
                    <div class="user-btns">
                        <a href="/register">
                            <div class="user-btn" id="newUser-btn">我是新用户：前往注册账号</div>
                        </a>
                        <a href="/login">
                            <div class="user-btn" id="oldUser-btn">我是老用户：前往交易客户端</div>
                        </a>
                        <a href="/userLogin" target="_blank">
                            <div class="user-btn" id="capUser-btn">我是老用户：前往资金账户系统</div>
                        </a>
                    </div>
                    <div class="head-img" data-sr-id="13" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                        <img src="/images/stock.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!--第二部分-->
        <div class="eq-section">
            <div class="eq-mid">
                <div class="eq-header">
                    <div class="eq-header-pre">GIS股票交易系统帮助您</div>
                    <div class="eq-header-main">安全理财 资金无虞</div>
                </div>

                <div class="eq-inner row" data-sr-id="5" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                    <div class="eq-item col-md-3">
                        <div class="eq-img">
                            <img src="/images/dataset.png">
                        </div>
                        <div class="eq-label">
                            证券账户管理
                        </div>
                    </div>

                    <div class="eq-operator col-md-1">
                        <div class="eq-op-inner">
                        <svg enable-background="new 0 0 256 256" id="Layer_1" version="1.1" viewBox="0 0 256 256" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M208,122h-74V48c0-3.534-2.466-6.4-6-6.4s-6,2.866-6,6.4v74H48c-3.534,0-6.4,2.466-6.4,6s2.866,6,6.4,6h74v74  c0,3.534,2.466,6.4,6,6.4s6-2.866,6-6.4v-74h74c3.534,0,6.4-2.466,6.4-6S211.534,122,208,122z"></path></svg>
                        </div>
                    </div>

                    <div class="eq-item col-md-3">
                        <div class="eq-img">
                            <img src="/images/paramspace.png">
                        </div>
                        <div class="eq-label">
                            资金账户管理
                        </div>
                    </div>

                    <div class="eq-operator col-md-1">
                        <div class="eq-op-inner">
                        <svg enable-background="new 0 0 256 256" id="Layer_1" version="1.1" viewBox="0 0 256 256" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M76.8,217.6c0-1.637,0.625-3.274,1.875-4.524L163.75,128L78.675,42.925c-2.5-2.5-2.5-6.55,0-9.05s6.55-2.5,9.05,0  l89.601,89.6c2.5,2.5,2.5,6.551,0,9.051l-89.601,89.6c-2.5,2.5-6.55,2.5-9.05,0C77.425,220.875,76.8,219.237,76.8,217.6z"></path></svg>
                        </div>
                    </div>

                    <div class="eq-item col-md-3">
                        <div class="eq-img">
                            <img src="/images/model.png">
                        </div>
                        <div class="eq-label">
                            安全可靠的理财环境
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--第三部分-->
        <div class="third-section">
            <div>
                <div class="third-header">
                    <div class="third-pre">GIS股票交易系统帮助你</div>
                    <div class="third-main">科学理财 便捷投资</div>
                </div>
                <div class="pages">
                    <img id="registerPage" src="/images/pages/register.jpg"/>
                    <img id="loginPage" src="/images/pages/login.jpg"/>
                </div>
            </div>
        </div>
        <!--第四部分-->
        <div class="perturb-section">
            <div class="features-list row">
                <div class="feat-header col-md-4">
                    诸多特性只为保障您的安心投资体验，<br>
                    <div class="feat-sub-header">至臻至美。</div>
                </div>
                <div class="feat-grid col-md-8">
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="feat-icon">
                                <ion-icon name="happy"></ion-icon>
                            </div>
                            <div class="feat-head">
                                安全保障
                            </div>
                            <div class="feat-desc">
                                全传输加密，多密码验证保障您的账户安全。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="feat-icon">
                                <ion-icon name="flash"></ion-icon>
                            </div>
                            <div class="feat-head">
                                响应迅速
                            </div>
                            <div class="feat-desc">
                                实时的响应速度确保您不会错失任何投资机遇。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="feat-icon">
                                <ion-icon name="globe"></ion-icon>
                            </div>
                            <div class="feat-head">
                                方便快捷
                            </div>
                            <div class="feat-desc">
                                只要能够访问网络，您就可以随时随地进行理财。
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="feat-icon">
                                <ion-icon name="heart"></ion-icon>
                            </div>
                            <div class="feat-head">
                                个性化定制
                            </div>
                            <div class="feat-desc">
                                您可以选择关注的投资项目，定制您的专属投资体验。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--第五部分-->
        <div class="foot-section">
            <div>
                <div class="foot-text">即刻开始稳健的投资之旅</div>
                <div class="signup">
                    <div class="signup-btn" id="joinIn">一键加入</div>
                </div>
                <div class="copyrightFooter">
                    Copyright © 2019 GIS From <a href="http://gs.zju.edu.cn/" target="_blank">College Earth Science</a> Of <a href="http://www.zju.edu.cn/" target="_blank">Zhejiang University</a> All Right Reserved.
                    <br>Blogroll: <a href="/managerLogin" target="_blank">资金账户管理系统（资金业务人员）</a> <a href="/securitiesaccount" target="_blank">证券账户管理系统（证券业务人员）</a>
                    <br><a href="http://localhost:3001/login" target="_blank" style="visibility: visible">交易管理系统（管理员）</a> <a href="/home" target="_blank" style="visibility: visible">系统临时总控（管理员）</a>
                </div>
            </div>
        </div>
        <!--外部JavaScript脚本引用-->
        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
        <script src="/javascripts/jquery-3.4.1.js"></script>
        <script src="/javascripts/firstPage_control.js"></script>
    </body>
</html>