'StockTradingSystem\.idea\runConfigurations\bin_www.xml'
'StockTradingSystem\.idea\jsLibraryMappings.xml'
'StockTradingSystem\.idea\misc.xml'
'StockTradingSystem\.idea\modules.xml'
'StockTradingSystem\.idea\StockTradingSystem.iml'
'StockTradingSystem\.idea\vcs.xml'
'StockTradingSystem\.idea\workspace.xml'
